@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    src: url('/static/fonts/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Raleway'), local('Raleway-Regular'),
         url('/static/fonts/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/static/fonts/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/static/fonts/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/static/fonts/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/static/fonts/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/** All other fonts can come in here */

@import url('/static/css/bootstrap.min.css');
@import url('/static/css/layout/gen.layout.css');
@import url('/static/css/layout/mobi.layout.css');
@import url('/static/css/layout/tab.layout.css');
@import url('/static/css/layout/tabmobi.layout.css');
/** All other imports can come in here */